[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/git"]
	path = deps/git
	url = https://github.com/gnostr-org/git.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/tcl"]
	path = deps/tcl
	url = https://github.com/gnostr-org/tcl.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/jq"]
	path = deps/jq
	url = https://github.com/gnostr-org/jq.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/hyper-nostr"]
	path = deps/hyper-nostr
	url = https://github.com/gnostr-org/hyper-nostr.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/gnostr-org/openssl.git
	branch = master
	ignore = dirty
	shallow = true
[submodule "deps/act"]
	path = deps/act
	url = https://github.com/gnostr-org/act.git
	branch = 310cb79
	ignore = dirty
	shallow = true
[submodule "deps/hyper-sdk"]
	path = deps/hyper-sdk
	url = https://github.com/gnostr-org/hyper-sdk.git
	branch = 38db824808be1bffae4ca3bc76051aaadc1b6b82
	ignore = dirty
	shallow = true
[submodule "gnostr-cat"]
	path = deps/gnostr-cat
	url = git@github.com:gnostr-org/gnostr-cat.git
	ignore = dirty
	shallow = true
[submodule "deps/gnostr-aio"]
	path = deps/gnostr-aio
	url = git@github.com:gnostr-org/gnostr-aio.git
[submodule "deps/gnostr-py"]
	path = deps/gnostr-py
	url = git@github.com:gnostr-org/gnostr-py.git
